@charset utf-8

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0  20110126
   License: none (public domain)*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End of Meyer */


/*Here is the clearfix */
.clearfix:after {
	 content: "";
	 display: table;
	 clear: both;
}

.main {
	background-image: url(../img/gravel.webp);
}


h1{
	font-family: 'Roboto';
	font-size:60px;
	color: #317873;
	padding-left:60px;

	
}
body {
	font-family: 'Sans-serif';
}

h2, h4, th {
	color: #317873;
}

.site-header {
	background-color:#317873;
	box-sizing:border-box;
	padding:5px;
	width:100%;
	height:60px;
		
}	


.text-block {
	float:left;
	width:60%;
	box-sizing:border-box;
	padding:0px 50px;

}

.alteredbridge {
	float:left;
	width:30%;
	box-sizing:border-box;
	padding-top: 50px;
}

.table {
	width: 90%;
	box-sizing: border-box;
	margin-left: 50px;
	margin-right: 25px;
	margin-top: 20px;
	margin-bottom: 40px;
}

table, th, td {
	border: 1px solid black;	
}

th, td {
	text-align:center;
	padding:10px;
}

th {
	background-color:#ffffff;
}

.profile-info {
	width:50%;
	box-sizing: border-box;
	display:inline-block;
	float:right;
	margin-top: 10px;
	padding:3px;
	display: inline-block;
	width:30%;
	box-sizing: border-box;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
}

.profile-head{

	padding-left: 50px;

	background-color: purple;
}
.form-profile{
	
	box-sizing: border-box;
	float:left;
	padding:25px;
	margin-left:25px;
	margin-right: 250px;
	position: relative;
}

/* Edit Profile */

.edit-column {
	float:left; 
	margin:0; 
	width:70%;
	border-spacing: 30px;
}


.profile-info input[type="text"], select{
	width:70%;
	box-sizing: border-box;
	display:inline-block;
	float:right;
	margin-top: 10px;
}

.profile-info label {
	display: inline-block;
	width:30%;
	box-sizing: border-box;
	padding-bottom: 15px;
	padding-top: 15px;
	
	margin-bottom: 10px;
	margin-left: 0px;
}

.profile-info select{
	padding:5px;
}

.profile-info {
	float: left;
  width: 33.33333%;
  position: relative;
}

/* Profile Info */

.card {
	background-color: #ffffff;
	width:300px;
	height:300px;
	text-align: center;
	position: relative;
	padding: 50px;
	box-shadow: 8px 12px 12px 8px rgba(0,0,0,0.2);
	float: left;
}


.nav li a {
	float:left;
	width:10%;
	box-sizing:border-box;
	padding-left:20px;
}


/* Address */

.side { 
  border-spacing: 200px;
  position: relative;
  float: right;
  width: 33.33333%;
  position: relative;
}

 .contact {
 	float: left;
  width: 33.33333%;
  position: relative;
 }

.whole-footer {
	clear: both;
  width: 100%;
  background-color: #676767;
  width: 960px;
  margin: 0 auto;
	box-sizing:border-box;
	padding:5px;
	width:100%;
	height:300px;
}

.quick-links {
	float: left;
  width: 33.33333%;
  position: relative;
  color: white;

}

.social-links {
	float: left;
  width: 33.33333%;
  position: relative;
  color: white;
}

.links  {
	float: left;
  width: 15%;
  position: relative;
  color: white;
}

.address-card {
	float: left;
  width: 33.33333%;
  position: relative;
  color: white;
}

.fa {

font-size: 72px;

@media (max-width: 960px)
	.container {
		display: block;
}
